<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
</head>
<body>
	<form action="/logout" method="post">
		<button type="submit">Logout</button> 
	</form>
	<br>

	<form action="/event_set">
		Please set the event <br>
		<input type="text" name="event">
		<input type="submit" name="Submit"><br>
	</form>
	<p>
		<ul>
			<li>
				Cookies
			</li>			
			<li>
				Cookies
			</li>			
			<li>
				Cookies
			</li>			
			<li>
				Cookies
			</li>


		</ul>
	</p>
</body>
</html>