<!DOCTYPE html>
<html>
<head>
	<title>Potluck</title>
</head>
<body>
	<form method="post" action="/login">
		<span>
			Username:
			<input type="text" name="username"> 
			Password:
			<input type="password" name="password">
		</span>

    <button type="submit">Login</button><br><br>
	</form>

	<form action="/submit">
		<fieldset>
			What food are you bringing to the event?<br>
			<input type="text" name="food"><br><br>

			<input type="submit" value="Submit">
			
		</fieldset>

	</form>
</body>
</html>