<!DOCTYPE html>
<html>
<head>
	<title>Potluck</title>
</head>
<body>
	<form action="/submit">
		<fieldset>
			Who are you?<br>
			<input type="text" name="name"><br><br>
			What food are you bringing to the event?<br>
			<input type="text" name="food"><br><br>

			<input type="submit" value="Submit">
			
		</fieldset>

	</form>
</body>
</html>